target="_blank"target="_blank"@charset "utf-8";


 .landing {

     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
  
}
/*
.mobilelanding {
	position: absolute;
	top: 25%;
} */

html, body {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
