@charset "utf-8";


/*img.gallery:hover {*/
/*	background-image: url(https://i.imgur.com/GSJk3U0.png);*/

#imgtest:hover {
	background: url();
}




#picdiv {
	height: 100%;
}
	

#topnav {
	background-color: #FFFFFF;
	height: 200px;
	

}

.regnav {
	padding-top: 15px;
	background-color: #FFFFFF;
	height: 100px;
}

.bottomnav {
	background-color: #FFFFFF;
	text-align: center;
}

.homebottomnav {
	background-color: #FFFFFF;
	height: 200px;
}

#Gallery {
	margin: 0;
}

/*
.flex-container {
  display: flex;
  justify-content: center;
}
*/

.image_off, #home:hover .image_on{
   display:none
}
.image_on, #home:hover .image_off{
   display:block
}


.responsive {
  
  height: 650px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.bimg {
	padding-top: 10px;
	padding-bottom: 10px;
}

.desktopportrait { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.img-thumbnail{
	border: #FFFFFF thin dotted;
}


button {
	border: #FFFFFF solid thin;
}


.navbar-toggler{
	border: #FFFFFF;
}

button.navbar-toggler:focus { outline: 1px none; }


.projectdescription {
	text-align: center;
	padding-top: 30px;
}

.lastproj {
	padding-bottom: 100px;
}

.mobile {
	margin-left: auto;
	margin-right: auto;
}

.centered img {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.projectmobiletext {
	padding-top: 15px;
}

.landing {
   position: absolute;
   
   top: 50%;
   left: 50%;
   width: 800px;
   height: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -400px; /* Half the width */
}

html, body {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}


.aboutmetext {
	text-align: center;
}

.aboutmesection {
   position: absolute;
   top: 25%;
   width: 100%;
}



/*
.mobileshow { 
display:none; 
}
@media screen and (max-width: 500px) {
.mobileshow { 
display:block; }
}

*/



/*
.cimg {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
*/

/*
.dmobile {
	height: 50%;
	justify-content: center;
}
*/


/*
body {
  padding-top: 54px;
}
*/

/*

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
*/
